<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fezrestia.android.cloudsyncclient"

    android:versionCode="70"
    android:versionName="2.2.0-70"
>
<!--                     | | | |-> incremental build count
                             | | |-> patch
                             | |-> minor
                             |-> major
    -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For WiFi AP ON/OFF -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
                     tools:ignore="ProtectedPermissions"/>

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:theme="@style/Theme.AppCompat"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".RootActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".simstats.SimStatsSettingActivity"
            android:exported="false"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <receiver
                android:name=".simstats.SimStatsWidgetProvider"
        >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/simstats_widget"
            />
        </receiver>
        <receiver
                android:name=".simstats.SimStatsWidgetReceiver"
                tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.fezrestia.android.cloudsyncclient.simstats.ACTION_ON_WIDGET_CLICKED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
